
<body class="container-fluid" >
    <header class="text-center container-lg  opacity-75">
        <h1 class="pb-3">Welcome to player's section on ft_transcendence</h1>
        <div class="container-fluid border-bottom border-secondary opacity-25"></div>
    </header>
    
    <div class="container-lg my-4">
        <div class="container-l">
            <h2>Surprise!</h2>
        </div>
        <div class="container-lg align-items-center mx-auto">
            <div class="row text-center justify-content-around">
                <div class="col-8 align-self-center">
                    <p>This project is about doing something you’ve never done before. Remind yourself of the beginning of your journey in computer science. Look at you now. Time to shine!</p>
                </div>
            </div>
        </div>
        <div class="container-lg text-center">
            <p><strong>Version:</strong> 15</p>
        </div>
    
        <!-- Image Section -->
        <div class="container-flex text-center">
            <div class="row">
                <div class="col-12 col-lg-6">
                    <div class="container-fluid">
                        <h3>Project Highlight</h3>
                    </div>
                    <div class="container-fluid">
                        <img class="img-fluid rounded" src="./assets/images/transcendence.jpg" alt="ft_transcendence" />
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <div class="container-fluid">
                        <h3>List of players</h3>
                    </div>
                    <div class="container-fluid">
                        <div id="api-data" class="row justify-content-evenly">
                            Loading player information...
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</body>